.CompanyPage__info {
  text-shadow: 0.1em 0.1em 0.3em white;
}

.CompanyPage__info header {
  margin: 1em auto;
}

.CompanyPage__logo-container {
  margin: 1em;
}

.CompanyPage__logo {
  height: 100px;
  width: 100px;
}
