#root {
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App > main {
  margin: 2em auto;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App > main > header {
  padding: 1em;
}

.Login,
.SignUp,
.Profile {
  max-width: 20em;
  width: 50%;
  min-width: 10em;
}
